<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Active Connections Test for App Instance </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.27.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://github.com/mobiledgex/edge-cloud-qa.git</url>
        <credentialsId>55915903-23ea-4494-b414-dbd72553d240</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>jenkinsGcpSlave1</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export AUTOMATION_CONTROLLER_ADDRESS=mexplat-qa-us.ctrl.mobiledgex.net:55001
export AUTOMATION_DME_ADDRESS=us-qa.dme.mobiledgex.net:50051
export AUTOMATION_DME_REST_ADDRESS=us-qa.dme.mobiledgex.net:38001
export AUTOMATION_DME_CERT=mex-ca.crt
export AUTOMATION_MC_ADDRESS=console-qa.mobiledgex.net:443
export AUTOMATION_INFLUXDB_ADDRESS=https://us-qa.influxdb.mobiledgex.net:8086
export AUTOMATION_MC_CERT=
export PYTHONPATH=/home/jenkins/workspace/ActiveConnectionsTest/protos:/home/jenkins/workspace/ActiveConnectionsTest/modules:/home/jenkins/workspace/ActiveConnectionsTest/certs:/home/jenkins/workspace/ActiveConnectionsTest/testcases:/home/jenkins/workspace/ActiveConnectionsTest/testcases/config
/usr/local/bin/robot &apos;/home/jenkins/workspace/ActiveConnectionsTest/testcases/metrics/App_Inst_Active_Connections/app_instance_connections_usage.robot&apos;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.robot.RobotPublisher plugin="robot@2.1.1">
      <outputPath>/home/jenkins/workspace/ActiveConnectionsTest/</outputPath>
      <reportFileName>report.html</reportFileName>
      <logFileName>log.html</logFileName>
      <outputFileName>output.xml</outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>0.0</passThreshold>
      <unstableThreshold>0.0</unstableThreshold>
      <otherFiles>
        <string></string>
      </otherFiles>
      <enableCache>true</enableCache>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.42">
      <baseUrl></baseUrl>
      <teamDomain>mobiledgex</teamDomain>
      <authToken></authToken>
      <tokenCredentialId>cdda7d70-b701-4983-b287-e3f46dde02e9</tokenCredentialId>
      <botUser>false</botUser>
      <room>qa-automation</room>
      <sendAsText>false</sendAsText>
      <iconEmoji></iconEmoji>
      <username></username>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>false</notifyFailure>
      <notifyEveryFailure>true</notifyEveryFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>true</includeTestSummary>
      <includeFailedTests>true</includeFailedTests>
      <uploadFiles>false</uploadFiles>
      <artifactIncludes></artifactIncludes>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
      <customMessageSuccess></customMessageSuccess>
      <customMessageAborted></customMessageAborted>
      <customMessageNotBuilt></customMessageNotBuilt>
      <customMessageUnstable></customMessageUnstable>
      <customMessageFailure></customMessageFailure>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>