<?xml version='1.1' encoding='UTF-8'?>
<!--
 Copyright 2022 MobiledgeX, Inc

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<flow-definition plugin="workflow-job@2.42">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.2">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>Components</string>
        <string>CommitVersion</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.27.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Components</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CommitVersion</name>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.94">
    <script>build_name = &quot;andybuild&quot;
currentBuild.displayName = build_name

pipeline{
    agent { label &apos;master&apos; }
    parameters {
        string( name: &apos;Components&apos;)
        string( name: &apos;CommitVersion&apos;, defaultValue: &apos;master&apos;) }
    stages {
        stage(&apos;Checkout&apos;) {
            agent { label &apos;jenkinsGcpSlave2&apos; }
            steps {
                sh &apos;whoami&apos;
                sh &apos;id&apos;
                sh &apos;groups&apos;
                sh &apos;docker ps&apos;  //remove all docker stuff without prompting
                echo &apos;docker prune failed. mayber already running&apos;
                // delete old protos before git and build
                dir(&apos;go/src/github.com/mobiledgex/protos&apos;) {
                    sh &apos;rm -rf *&apos;
                }

                dir(&apos;go/src/github.com/mobiledgex/edge-cloud-sampleapps&apos;) {
                    git branch: &apos;master&apos;,
                    credentialsId: &apos;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&apos;,
                    url: &apos;https://github.com/mobiledgex/edge-cloud-sampleapps.git&apos;
                }

                dir(&apos;go/src/github.com/mobiledgex&apos;) {
                    checkout([$class: &apos;GitSCM&apos;,
                        branches: [[name: &apos;master&apos;]],
                        doGenerateSubmoduleConfigurations: false,
                        extensions: [
                            [$class: &apos;SparseCheckoutPaths&apos;,  sparseCheckoutPaths:[
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;testcases/*&apos;],
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;jenkins/*&apos;],
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;modules/*&apos;],
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;protos/*&apos;],
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;tools/*&apos;],
                            [$class:&apos;SparseCheckoutPath&apos;, path:&apos;certs/*&apos;]
                            ]]
                        ],
                        submoduleCfg: [],
                        userRemoteConfigs: [[credentialsId: &apos;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&apos;,
                        url: &apos;https://github.com/mobiledgex/edge-cloud-qa.git&apos;]]])

                        //unstash &apos;edge-cloud_stash&apos;
                }

                dir(&apos;go/src/github.com/mobiledgex/edge-proto&apos;) {
                   sh &apos;rm -rf $WORKSPACE/go/src/github.com/mobiledgex/edge-proto/*&apos;
                   git branch: CommitVersion,
                   credentialsId: &apos;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&apos;,
                   url: &apos;https://github.com/mobiledgex/edge-proto.git&apos;
                }

                dir(&apos;go/src/github.com/mobiledgex/edge-cloud&apos;) {
                   sh &apos;rm -rf $WORKSPACE/go/src/github.com/mobiledgex/edge-cloud/*&apos;

                   checkout([$class: &apos;GitSCM&apos;,
                       branches: [[name: CommitVersion]],
                       doGenerateSubmoduleConfigurations: false,
                       extensions: [
                           [$class: &apos;SparseCheckoutPaths&apos;,  sparseCheckoutPaths:[
                           [$class:&apos;SparseCheckoutPath&apos;, path:&apos;edgeproto/*&apos;],
                           [$class:&apos;SparseCheckoutPath&apos;, path:&apos;d-match-engine/dme-proto/*&apos;],
                           [$class:&apos;SparseCheckoutPath&apos;, path:&apos;protoc-gen-cmd/protocmd/*&apos;],
                           [$class:&apos;SparseCheckoutPath&apos;, path:&apos;protogen/*&apos;]
                           ]]
                       ],
                       submoduleCfg: [],
                       userRemoteConfigs: [[credentialsId: &apos;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx&apos;,
                       url: &apos;https://github.com/mobiledgex/edge-cloud.git&apos;]]])
                }
            }
            post {
                failure { echo &apos;checkout failed&apos; }
            }
        }
        stage(&quot;build protos&quot;) {
            steps {
                dir(&apos;go/src/github.com/mobiledgex/tools&apos;) {
                    sh(script:&apos;/usr/bin/python3 ./build_protos.py --sourcedir $WORKSPAC/go/src/github.com/mobiledgex/edge-cloud/ --sourcedir_proto $WORKSPACE/go/src/github.com/mobiledgex/edge-proto/ --qadir $WORKSPACE/go/src/github.com/mobiledgex&apos;);
                }
            }
            post {
                failure { echo &quot;build_protos.py failed&quot; }
            }
        }
    }

}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>